:root {
  --acent-color: #2196f3;
  --logo-dark-color: #000000;
  --main-color: #757575;
  --title-color: #212121;
  --white-color: #ffffff;
  --backgroud-dark-color: #2f303a;
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --background-light-color: #f5f4fa;
  --icon-main-color: #afb1b8;
  --header-border: #ececec;
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --portfolio-item-gep: 30px;
  --time-transition: 250ms;
  --duration-transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2,
h3 {
  color: var(--title-color);
}

h1,
h2,
h3,
p,
a,
button,
form,
input,
label,
span {
  font-family: var(--main-font);
}

.link {
  text-decoration: none;
  font-style: normal;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  color: var(--main-color);
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container, .header__container, .hero__container {
  min-width: 320px;
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container.section, .section.header__container, .section.hero__container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-title, .works__title, .team__title, .clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17em;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-title:not(:last-child), .works__title:not(:last-child), .team__title:not(:last-child), .clients__title:not(:last-child) {
  margin-bottom: 30px;
}

.social-media {
  display: flex;
  margin-right: -10px;
  justify-content: center;
}

.social-media__item {
  display: flex;
  margin-right: 10px;
}

.social-media__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  fill: var(--icon-main-color);
  transition: var(--time-transition) var(--duration-transition);
}

.social-media__link--dark {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--white-color);
}

.social-media__link:hover, .social-media__link:focus,
.footer .social-media__link:hover,
.footer .social-media__link:focus {
  background-color: var(--acent-color);
  fill: var(--white-color);
}

.social-media__icon {
  width: 20px;
  height: 20px;
}

.btn {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--white-color);
  background-color: var(--acent-color);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
}

.logo {
  font-family: var(--logo-font);
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.logo-web {
  color: var(--acent-color);
  font-family: var(--logo-font);
}

.header__logo {
  color: var(--logo-dark-color);
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  color: var(--white-color);
}

.header {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.header.portfolio {
  border-bottom: 1px solid var(--header-border);
}

.header__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 2;
  padding: 40px 0 60px;
  border-top: 1px solid var(--header-border);
  background-color: var(--white-color);
}

.header__nav.is-open {
  display: block;
}

.nav__pages {
  margin-bottom: 40px;
}

.nav__page {
  text-align: center;
  margin: 0 auto;
}

.nav__link {
  display: block;
  padding: 20px 0;
  color: var(--title-color);
  text-decoration: none;
  transition: var(--time-transition) var(--duration-transition);
}

.nav__link:hover, .nav__link:focus {
  color: var(--acent-color);
  fill: var(--acent-color);
}

.nav__link--current {
  position: relative;
  color: var(--acent-color);
  padding-bottom: 8px;
}

.nav__link--current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--acent-color);
  border-radius: 2px;
}

.header__contacts {
  display: flex;
  flex-direction: column;
  color: var(--main-color);
  transition: var(--time-transition) var(--duration-transition);
}

.header__contact {
  margin: 0 auto;
}

.header__contact:not(:last-child) {
  margin-bottom: 16px;
}

.contact__link {
  display: flex;
  color: var(--main-color);
  fill: var(--main-color);
  transition: var(--time-transition) var(--duration-transition);
}

.contact__link:hover, .contact__link:focus {
  color: var(--acent-color);
  fill: var(--acent-color);
}

.contact__icon {
  margin-right: 10px;
  margin-top: 1px;
}

.menu__button {
  display: block;
  background-color: transparent;
  border: none;
  padding: 0;
  width: 40px;
  height: 40px;
  transition: var(--time-transition) var(--duration-transition);
}

.menu__button:hover, .menu__button:focus {
  fill: var(--acent-color);
}

.menu__button .icon__cross {
  display: none;
}

.menu__button.is-open .icon__cross {
  display: block;
}

.menu__button.is-open .icon__burger {
  display: none;
}

.footer {
  background-color: var(--backgroud-dark-color);
}

.container.footer, .footer.header__container, .footer.hero__container {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__addresses {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 60px;
}

.footer__join {
  text-align: center;
  margin-bottom: 60px;
}

.address__link, .footer__address, .social-media__label,
.subscribe__label {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.7;
  color: var(--white-color);
}

.address__link--grey {
  color: rgba(255, 255, 255, 0.6);
}

.footer__address:not(:last-child) {
  margin-bottom: 9px;
}

.social-media__label,
.subscribe__label {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer__subscribe {
  text-align: center;
}

.subscribe__form {
  display: flex;
  flex-direction: column;
}

.subscribe__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  margin-bottom: 20px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-address-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscribe__input::placeholder {
  color: var(--footer-address-color);
}

.subscribe__btn {
  padding-left: 29px;
  padding-right: 29px;
  margin: 0 auto;
}

.icon__send {
  fill: white;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.features__item:not(:last-child) {
  margin-bottom: 30px;
}

.features__wrap {
  max-width: 450px;
  padding: 25px 0;
  margin-bottom: 30px;
  background-color: var(--background-light-color);
  border-radius: 4px;
}

.features__pic {
  display: block;
  width: 70px;
  height: 70px;
  margin: 0 auto;
}

.features__title {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/optimized/hero/hero-1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 320px;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/optimized/hero/hero-2x.jpg");
  }
}

@media screen and (min-width: 481px) {
  .hero {
    background-image: url("../images/optimized/hero/hero_tablet-1x.jpg");
  }
}

@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/optimized/hero/hero_tablet-2x.jpg");
  }
}

@media screen and (min-width: 767px) {
  .hero {
    background-image: url("../images/optimized/hero/hero_desk-1x.jpg");
    max-width: 1600px;
  }
}

@media screen and (min-width: 767px) and (min-device-pixel-ratio: 2), screen and (min-width: 767px) and (min-resolution: 192dpi), screen and (min-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/optimized/hero/hero_desk-2x.jpg");
  }
}

.hero__container {
  display: block;
  justify-content: center;
  padding: 118px 30px;
  margin: 0 auto;
}

@media screen and (max-width: 406px) {
  .hero__container {
    padding: 97px 25px;
  }
}

@media screen and (max-width: 416px) {
  .hero__container {
    padding: 97px 30px;
  }
}

.hero__title {
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62em;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero__button {
  padding-left: 32px;
  padding-right: 32px;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .works {
    display: none;
  }
}

.works__list {
  display: flex;
}

.works__item {
  position: relative;
}

.works__item:not(:last-child) {
  margin-right: 30px;
}

.works__label {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
}

.team {
  background-color: var(--background-light-color);
}

.team__member {
  padding-bottom: 24px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: var(--white-color);
}

.team__member:not(:last-child) {
  margin-bottom: 30px;
}

.member__pic {
  margin-bottom: 30px;
}

.member__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18em;
  letter-spacing: 0.03em;
  text-align: center;
}

.member__position {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18em;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients__list {
  margin: -15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.clients__item {
  margin: 15px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 90px;
  fill: var(--icon-main-color);
  border: 1px solid var(--icon-main-color);
  border-radius: 4px;
  transition: var(--time-transition) var(--duration-transition);
}

.clients__link:hover, .clients__link:focus {
  fill: var(--acent-color);
  border: 1px solid var(--acent-color);
}

.clients__logo-1 {
  width: 44.27px;
  height: 49.23px;
}

.clients__logo-2 {
  width: 40px;
  height: 52px;
}

.clients__logo-3 {
  width: 41px;
  height: 42.6px;
}

.clients__logo-4 {
  width: 79.66px;
  height: 42.02px;
}

.clients__logo-5 {
  width: 59px;
  height: 47px;
}

.clients__logo-6 {
  width: 88.48px;
  height: 45.44px;
}

.modal {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  transition: var(--time-transition) var(--duration-transition);
}

.modal.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.modal__window {
  transform: scale(1);
  width: 450px;
  padding: 40px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--time-transition) var(--duration-transition);
}

@media screen and (min-width: 1170px) {
  .modal__window {
    width: 528px;
  }
}

.modal.is-hidden .modal__window {
  transform: scale(0.8);
}

.close__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 5px;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.close__icon {
  width: 100%;
  height: 100%;
}

/* modal form */
.modal-form__header {
  width: 100%;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-align: center;
}

.modal-form__label, .user__message {
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: var(--main-color);
}

.user__message {
  margin-bottom: 20px;
}

.modal-form__input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--title-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: var(--time-transition) var(--duration-transition);
}

.modal-form__input:focus {
  outline: none;
  border-color: var(--acent-color);
}

.modal-form__wraper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-form__message {
  display: block;
  margin-top: 4px;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--title-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: var(--time-transition) var(--duration-transition);
}

.modal-form__message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__message:focus {
  outline: none;
  border-color: var(--acent-color);
}

.icon-input {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: var(--title-color);
  transition: var(--time-transition) var(--duration-transition);
}

.icon-input:hover,
.modal-form__input:focus + .icon-input {
  fill: var(--acent-color);
}

.modal-form__agreement {
  position: relative;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.66;
}

@media screen and (min-width: 1170px) {
  .modal-form__agreement {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form__conditions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: var(--main-color);
  cursor: pointer;
}

.modal-form__conditions::before {
  display: inline-block;
  margin-right: 7px;
  content: "";
  width: 16px;
  height: 15px;
  background-image: url(../images/original-images/icons-original/icon-unchecked.svg);
  background-size: cover;
  transition: var(--time-transition) var(--duration-transition);
}

@media screen and (min-width: 1170px) {
  .modal-form__conditions::before {
    margin-right: 7px;
    margin-left: 12px;
  }
}

.check:checked + .modal-form__conditions::before {
  background-image: url(../images/original-images/icons-original/icon-check.svg);
  background-size: cover;
}

.modal-form__link {
  display: block;
  margin-left: 0.35em;
  text-decoration-skip-ink: none;
  color: var(--acent-color);
}

.submit__btn {
  margin: 0 auto;
  padding-left: 56px;
  padding-right: 56px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/*# sourceMappingURL=main.css.map */