.portfolio__cards {
  margin: -15px;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    // margin: -30px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  // display: flex;
  // flex-wrap: wrap;
  // margin-top: calc(-1 * var(--portfolio-item-gep));
  // margin-left: calc(-1 * var(--portfolio-item-gep));
}

.portfolio__card {
  margin: 15px;
  @media screen and (min-width: 768px) {
    width: 354px;
    // flex-basis: calc(100% / 2 - 30px);
    // margin: 30px;
  }
  // flex-basis: calc(100% / 3 - 30px);

  // margin-top: var(--portfolio-item-gep);
  // margin-left: var(--portfolio-item-gep);
}

.portfolio__link {
  display: block;
  position: relative;

  transition: var(--time-transition) var(--duration-transition);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.card__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__img {
  width: 100%;
}

.card__description {
  position: absolute;
  left: 0;
  top: 0;
  padding: 63px 24px;
  height: 294px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);

  background-image: linear-gradient(
    rgba(33, 150, 243, 0.9),
    rgba(33, 150, 243, 0.9)
  );

  transform: translateY(100%);
  transition: var(--time-transition) var(--duration-transition);

  .portfolio__link:hover &,
  .portfolio__link:focus & {
    transform: translateY(0);
  }
}

.card__meta {
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #eeeeee;
  border-top: 1px solid transparent;
}

.card__title {
  margin-bottom: 4px;
  margin-left: 24px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
}

.card__type {
  margin-left: 24px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87em;
  letter-spacing: 0.03em;
}
