.container {
  min-width: 320px;
  max-width: 480px;
  padding: 0 15px;
  // padding-left: 15px;
  // padding-right: 15px;
  // padding-top: 10px;
  // padding-bottom: 10px;
  margin: 0 auto;

  // @media screen and (min-width: 481px) {

  //   }
  // }
  // width: 1200px;
  // margin: auto;
  // padding-left: 15px;
  // padding-right: 15px;

  &.section {
    padding-top: 60px;
    padding-bottom: 60px;
    // padding-top: 94px;
    // padding-bottom: 94px;
  }
}
