:root {
  --acent-color: #2196f3;
  --logo-dark-color: #000000;
  --main-color: #757575;
  --title-color: #212121;
  --white-color: #ffffff;
  --backgroud-dark-color: #2f303a;
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --background-light-color: #f5f4fa;
  --icon-main-color: #afb1b8;
  --header-border: #ececec;

  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;

  --portfolio-item-gep: 30px;

  --time-transition: 250ms;
  --duration-transition: cubic-bezier(0.4, 0, 0.2, 1);
}
