.features__list {
  margin: -15px;
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    margin: -15px;
  }
}

.features__item {
  margin: 15px;

  @media screen and (min-width: 768px) {
    width: 354px;
    margin: 15px;
  }
  // &:not(:last-child) {
  //   margin-bottom: 30px;
  // }
}
// max-width: 450px;
// max-width: 270px;
// &:not(:last-child) {
//   margin-right: 30px;
// }
// }

.features__wrap {
  max-width: 450px;
  padding: 25px 0;
  margin-bottom: 30px;
  background-color: var(--background-light-color);
  border-radius: 4px;

  // display: flex;
  // justify-content: center;
  // align-items: center;
  // width: 270px;
  // height: 120px;
}

.features__pic {
  display: block;
  width: 70px;
  height: 70px;
  margin: 0 auto;
}

.features__title {
  margin-bottom: 10px;
  text-align: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
}
