.modal {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  transition: var(--time-transition) var(--duration-transition);

  &.is-hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
  }
}

.modal__window {
  transform: scale(1);

  width: 450px;
  padding: 40px;

  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform var(--time-transition) var(--duration-transition);

  @media screen and (min-width: 1170px) {
    width: 528px;
  }

  .modal.is-hidden & {
    transform: scale(0.8);
  }
}

.close {
  &__btn {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;
    padding: 5px;

    justify-content: center;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;

    cursor: pointer;
  }

  &__icon {
    width: 100%;
    height: 100%;
  }
}

/* modal form */

.modal-form__header {
  width: 100%;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--title-color);

  text-align: center;
}

.modal-form__label {
  display: block;
  margin-bottom: 10px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: var(--main-color);
}

.user__message {
  @extend .modal-form__label;
  margin-bottom: 20px;
}

.modal-form__input {
  display: block;

  width: 100%;
  height: 40px;
  padding-left: 42px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--title-color);

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: var(--time-transition) var(--duration-transition);

  &:focus {
    outline: none;
    border-color: var(--acent-color);
  }
}

.modal-form__wraper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-form__message {
  display: block;
  margin-top: 4px;

  width: 100%;
  height: 120px;
  padding: 12px 16px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--title-color);

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;

  transition: var(--time-transition) var(--duration-transition);

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }

  &:focus {
    outline: none;
    border-color: var(--acent-color);
  }
}

.icon-input {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  width: 18px;
  height: 18px;

  fill: var(--title-color);

  transition: var(--time-transition) var(--duration-transition);

  &:hover,
  .modal-form__input:focus + & {
    fill: var(--acent-color);
  }
}

.modal-form__agreement {
  position: relative;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.66;

  @media screen and (min-width: 1170px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form__conditions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  color: var(--main-color);
  cursor: pointer;

  &::before {
    display: inline-block;
    margin-right: 7px;

    content: "";
    width: 16px;
    height: 15px;
    background-image: url(../images/original-images/icons-original/icon-unchecked.svg);
    background-size: cover;

    transition: var(--time-transition) var(--duration-transition);

    @media screen and (min-width: 1170px) {
      margin-right: 7px;
      margin-left: 12px;
    }

    .check:checked + & {
      background-image: url(../images/original-images/icons-original/icon-check.svg);
      background-size: cover;
    }
  }
}

.modal-form__link {
  display: block;
  margin-left: 0.35em;
  text-decoration-skip-ink: none;
  color: var(--acent-color);
}

.submit__btn {
  margin: 0 auto;
  padding-left: 56px;
  padding-right: 56px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
