.team {
  background-color: var(--background-light-color);

  &__title {
    @extend .section-title;
  }

  &__list {
    margin: -15px;
    display: flex;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }

    @media screen and (min-width: 768px) {
      flex-wrap: wrap;
      margin: -15px;
    }
  }
}

.team__member {
  padding-bottom: 24px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: var(--white-color);

  margin: 15px;

  @media screen and (min-width: 768px) {
    width: 354px;
    margin: 15px;
  }

  // &:not(:last-child) {
  //   margin-bottom: 30px;
  // }
  // padding-bottom: 30px;
  // &:not(:last-child) {
  //   margin-right: 30px;
  // }
}

.member {
  &__pic {
    margin-bottom: 30px;
  }

  &__name {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18em;
    letter-spacing: 0.03em;
    text-align: center;
  }

  &__position {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18em;
    text-align: center;
    letter-spacing: 0.03em;
  }
}
