.logo {
  font-family: var(--logo-font);
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  // font-size: 26px;
  &-web {
    color: var(--acent-color);
    font-family: var(--logo-font);
  }
}

.header__logo {
  color: var(--logo-dark-color);
  margin-right: 93px;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  color: var(--white-color);
}
